.transations {
  display: flex;
  flex: 1 0 0;
  
}

.transations .container {
  display: block;
  border-radius: 20px;
  background: var(--backgorund-cards);
  box-shadow: 5px 15px 30px -5px var(--color-box-shadow);
  max-height: calc(100vh - 367px);
  height: 100%;
  padding: 24px;
}

