.transations {
  background-color: red;
  display: flex;
  flex: 1 0 0;
}

.transations .container {
  border-radius: 20px;
  background: var(--backgorund-cards);
  box-shadow: 5px 15px 30px -5px var(--color-box-shadow);
  max-height: 533px;
  height: 100%;
  padding: 24px;
 
}

.transation-table{
    display: flex;
    flex-direction: column;
    gap: 12px;

}


.title-transations {
  color: var(--color-text);
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}

.table{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 12px;

}



