.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: var(--background-modal-tranparent);
}

.content-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}



