@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&family=Mulish:wght@400;500;600;700;800&display=swap');


:root {
  --background-header: #1e3a8a;
  --backgorund-body-label: #94a3b8;
  --backgorund-cards: #f8fafc;
  --background-main: #e2e8f0;
  --background-footer: #cbd5e1;
  --background-card-modal: #f1f5f9;
  --background-modal-tranparent:  rgba(0, 0, 0, 0.50);
  --background-white: #ffffff;

  --color-text-header: #eff6ff;
  --color-text-title-h3: #94a3b8;
  --color-text: #1e293b;

  --color-text-h2-modal: #27272a;
  --background-color-btn-modal: #1e40af;

  --color-box-shadow: #DCE0EC;

  --background-svg-up: #dcfce7;
  --background-svg-down: #FEE2E2;
  --background-svg-plus: #dbeafe;

  --color-hover-input: #633bbc;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Mulish', sans-serif;
  min-height: 100vh;
  width: 100%;
}

button{
  border: none;
}

input{
  outline: none;
}

.container{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}


main {
  display: flex;
  height: calc(100vh - 151px);
  flex-direction: column;
  gap: 32px;
  background-color: var(--background-main);
}


*::-webkit-scrollbar{
  width: 12px;
}

*::-webkit-scrollbar-track{
 background: --backgorund-cards;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--background-main);
  border-radius: 10px;
  border: 3px solid var(--background-white);
}