@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800&display=swap');

:root {
  --background-header: #1e3a8a;
  --backgorund-body-label: #94a3b8;
  --backgorund-cards: #f8fafc;
  --background-main: #e2e8f0;
  --background-footer: #cbd5e1;
  --background-card-modal: #f1f5f9;

  --color-text-header: #eff6ff;
  --color-text-title-h3: #94a3b8;
  --color-text: #1e293b;

  --color-text-h2-modal: #27272a;
  --background-color-btn-modal: #1e40af;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Mulish', sans-serif;
  min-height: 100vh;
  width: 100%;
}

