.dash {
  margin-top: 32px;
  padding: 0 20px;
}

.dash .container {
  display: flex;
  align-items: center;
  gap: 32px;
  justify-content: space-between;
}

@media (max-width: 920px) {
  .dash .container {
    display: flex;
    flex-wrap: wrap;
  }
}
